.services {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;

  min-height: 18vh;
  padding-top: 50vh;
}

.services .item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: white;
  font-weight: 400;
}

.line {
  border-right: 2px solid white;
}

.chat_us {
  color: #fff;
  border: 1px solid #fff;
  width: 10%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 45%;
}
